@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300&display=swap');

:root {
    --main-yellow: #FDC800;
    --anchor-size: 14px;
    --main-black: #212529;
    --a-color: #002147;
    --active-page: #00B2B2;
    --starter: #0053A7;
    --premium: #033977;
    --enterprise: #002147;
}

/* header */

body {
    font-family: 'Inter', sans-serif;
}
.active {
    color: var(--active-page) !important;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;    
}

.header-ribbon {
    width: 100%;
    height: 48px;
    background-color: var(--main-yellow);
}

.header-content-container {
    margin: 12px auto 0;
    display: flex;
    max-width: 1174px;
    width: 100%;
    height: 24px;
    justify-content: space-between;
}

.header-info-container {
    display: flex;
    justify-content: space-between;
    width: 477px;
    height: 24px;
}

.header-logos-container {
    display: flex;
    width: 132px;
    height: 24px;
    justify-content: space-between;
}

.header-info {
    display: flex;
    font-size: var(--anchor-size);
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.header-info a {
    color: var(--main-black);
    font-size: var(--anchor-size);
}

.header-navigation {
    width: 100%;
    background-color: #F0F4F9;
    height: 100px;
    position: relative;
}

.header-navigation-container {
    max-width: 1171px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-navigation-right {
    width: 566px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    width: 326px;
    height: 21px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: var(--a-color);
    font-weight: bold;
    font-size: 16px;
}

.button-search-container {
    width: 175px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.sign-up-button {
    width: 115px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: var(--main-yellow);
    color: var(--a-color);
    font-size: 16px;
}

.search-box {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* footer */

.footer {
    width: 100%;
    background-color: var(--a-color);
    height: 596px;
    position: relative;
    margin-top:10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-container {
    max-width: 1170px;
    width: 100%;
    height: 427px;
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    max-width: 1170px;
    width: 100%;
    height: 92px;
    background-color: var(--main-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.copyright-container {
    max-width: 1098px;
    width: 90%;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--a-color);
}

.left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 248px;
    width: 100%;
    height: 220px;
}

.left-box ul li {
    margin-top: 24px;
    color: white;
    width:207px;
    display: flex;
    align-items: flex-start;
}

.left-box ul li a {
    color: white;
}

.icon {
    margin-right: 10px;
    color: white;
}

.right-box {
    max-width: 485px;
    width:90%;
    display: flex;
    justify-content: space-between;
}

.ul-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ul-container ul {
    margin-top: 12px;
}

.ul-container ul li {
    margin-top:8px;
}

.ul-container ul li a {
    color: white;
}

h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* section 1 */

.main-container {
    width: 100%;
    height: 540px;
    background-color: #F0F4F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenct-container { 
    max-width: 1170px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texts-container { 
    max-width: 700px;
    width: 100%;
    height: 272px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: var(--a-color);
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: var(--a-color);
}

.main-buttons-container { 
    max-width: 371px;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
}

.button-primary {
    width: 181px;
    height: 54px;
    border: none;
    background-color: var(--main-yellow);
    color:var(--a-color);
    font-size: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary:hover {
    background-color: white;
    border: 1px solid var(--active-page);
}

.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-cources-container { 
    margin-top:80px;
    max-width: 1170px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: var(--a-color);
    text-align: center;
}

.cources-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-card {
    width: 372px;
    height: 331px;
    border: 1px solid #BDBDBD;
    margin-bottom: 30px;
    border-radius: 6px;
    position: relative;
}

.course-card:hover {
    box-shadow: 2px 2px #707070;
}

.course-card-image { 
    width: 100%;
    height: 200px;
    background-color: #CCCCCC;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.card-logo-container {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 148px;
    left: 24px;
    outline: 5px solid #F0F4F9;
    background-color: #CCCCCC;
}

.course-card-texts {
    width: 336px;
    height: 73px;
    position: absolute;
    bottom: 22px;
    left: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.course-card-texts h4 {
    color: var(--a-color);
}

.course-card-texts h5 {
    font-size: 16px;
    color: #757575;
}

.third-container { 
    width: 100%;
    height: 481px;
    background-color: #F0F4F9;
    background-image: url('../images/worldmap.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos-container {
    max-width: 1170px;
    width: 100%;
    height: 301px;
    display: flex;
    justify-content: space-between;
}

.center-item {
    text-align: center;
}

.info-card {
    width: 270px;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-card h4 {
    font-size: 60px;
    color: var(--a-color);
    font-family: 'Noto Sans Georgian', sans-serif;
}

.info-card p {
    text-transform: uppercase;
    color: #00B2B2;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

/* prices */

.prices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 850px;
    background-color: #F0F4F9;
}

.prices-wraper {
    max-width: 1170px;
    width: 90%;
    height: 659px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.prices-title-search {
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prices-titles {
    max-width: 585px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.prices-titles h2 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--a-color);
    text-align: left;
}

.prices-titles h6 {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-yellow);
}

.prices-buttons-container { 
    max-width: 244px;
    width: 51%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-button  {
    width: 115px;
    height: 44px;
    border: none;
    border-radius: 4px;
    background-color: #00B2B2;
    color: white;
    font-size: 16px;
}

.price-cards-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.price-card {
    width: 370px;
    height: 523px;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.packet-title {
    width: 144px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.starter {
    background-color: var(--starter);
}

.premium {
    background-color: var(--premium);
}

.enterprise {
    background-color: var(--enterprise);
}

.packet-wraper {
    width: 298px;
    height: 391px;
    margin-top: 48px;
    margin-left: 36px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.price-container {
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-container span {
    font-size: 16px;
    font-weight: bold;
    color: #BDBDBD;
}

.price {
    display: flex;
    height: 68px;
    justify-content: flex-start;
    align-items: flex-end;
}

.currency {
    color: var(--a-color);
    font-size: 24px;
    margin-right: 15px;
}

.price h3 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.divider {
    width: 100%;
    border: 1px solid #BDBDBD;
}

.packet-detail {
    padding: 0;
    width: 100%;
    height: 168px;
}

.include {
    color: var(--active-page);
}

.exclude {
    color: #707070;
}

.packet-detail i {
    margin-right: 16px;
}

.packet-detail li {
    margin-top: 10px;
    display: inline-block;
    color: var(--a-color);
    font-weight: bold;
    letter-spacing: .05rem;
}

/* .packet-detail li::before{
    content: "\1F5F8";
    display: inline-block;
    width: 24px;
    height: 24px;
} */

.button-purchase {
    width: 298px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--a-color);
    color: white;
    font-size: 16pz;
    font-weight: 700;
    border: none;
    font-family: 'Inter', sans-serif;
    letter-spacing: .2rem;
}

.button-purchase:hover {
    background-color: var(--main-yellow);
    color: var(--a-color);  
    cursor: pointer; 
}

/* cources */

.cources-header-container {
    width: 100%;
    height: 292px;
    background-color: #F0F4F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cources-header {
    max-width: 1170px;
    width: 100%;
    height: 198px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dropdowns-container {
    max-width: 1170px;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dropdown-wraper {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown {
    width: 100%;
    height: 44px;
    border: 1 px solid;
}

.dropdown-wraper label {
    color: var(--a-color);
    font-size: 20px;
    font-weight: bold;
}